@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    color: #566b78;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-top: 1em;
}

h1, h2, h3, h4, strong {
    color: #333;
}

h4 {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

header, footer {
    background-color: #263d36;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
}

header {
    background-position: center top;
    line-height: 1.2;
    padding: 5vw 0;
}

footer {
    background-position: center bottom;
    line-height: 0.2;
    padding: 1vw 0;
}

header h1, footer h1 {
    color: white;
    font-size: 2.1em;
    font-weight: 300;
}

header img, footer img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 100%;
}

header a, footer a {
    color: white;
}

footer p {
    font-size: 0.7em;
}

a:hover {
    text-decoration: underline;
}

.topleft {
    position: absolute;
    top: 1em;
    left: 1em;
}

main {
    line-height: 1.5;
    margin: 0 auto;
    padding: 4em 1em;
    width: 40em;
}
